################################################################################
# src/dev_setup.py
################################################################################

BRANCH_PREFIX="issues"
REQUEST_PREFIX="refs:"
ISSUE_BASE_PATH=""

################################################################################
# src/backup.py
################################################################################

BACKUP_LOCATION="/home/your-username/Documents/backup/automated"
HOME_LOCATION="/home/your-username"
LOCALHOST_LOCATION="/var/www"
SYSTEM_FOLDER="system"
VSCODE_FOLDER="vscode"
ENVIRONMENTS_FOLDER="environments"
HOME_FOLDER="home"
DEPLOYMENTS_FOLDER="deployments"

# Comma-separated lists
SYSTEM_PATHS_ON_MACHINE="/home/your-username/.bashrc,/home/your-username/.gitconfig,/etc/hosts,/etc/apache2/sites-available/000-default.conf"
VSCODE_PATHS_ON_MACHINE="/home/your-username/.config/Code/User/settings.json,/home/your-username/.config/Code/User/snippets/global-snippets.code-snippets"
# Example: "/var/www/project-one,/var/www/project-two"
ENVIRONMENTS_ON_MACHINE=""
# Example: "Pictures,Apps"
HOME_PATHS_ON_MACHINE=""
# Example: ".env.rb:project-one,.env.rb:project-two"
ENVIRONMENTS_WITH_RB=""
# Example: "/var/www/project-one/deploy,/var/www/project-two/deploy"
DEPLOYMENT_FOLDERS_ON_MACHINE=""
